
#newsletter-popup-form {
    position: relative;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 40px;
    border-radius: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.12);
    background: #f1f1f1 no-repeat center / cover url(/images/img-popup.png);
}

@media screen and (max-width: 576px) {
    #newsletter-popup-form {
        padding: 0 30px
    }
}