<head th:fragment="inicio-style">

	<link rel="stylesheet" th:href="@{/assets/css/carousel.style.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/inicio.style.min.css}">

</head>
<head th:fragment="anonimo-detalle-style">

	<link rel="stylesheet" th:href="@{/assets/css/anonimo/detalle.css}">
	<link rel="stylesheet" th:href="@{/assets/css/xzoom.css}">

</head>
<head th:fragment="global-style">

	<title>Muscle Shop</title>

<!--	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Muscle Shop">
	<meta name="author" content="SW-THEMES">-->
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" th:href="@{/images/muscle-shop-isotipo.png}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/notice.css}">
	<link rel="stylesheet" th:href="@{/assets/css/header.css}">
	<link rel="stylesheet" th:href="@{/assets/css/footer.style.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/popup.css}">
	<link rel="stylesheet" th:href="@{/assets/css/demo4.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/global.css}">
	<link rel="stylesheet" th:href="@{/assets/css/login.css}">
	<link rel="stylesheet" th:href="@{/assets/css/style.demo4.css}">
	<!--<link rel="stylesheet" th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}">-->

	<script>
		WebFontConfig = {
			google: {
				families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700,800', 'Oswald:300,400,500,600,700,800']
			}
		};
		(function (d) {
			var wf = d.createElement('script'),
				s = d.scripts[0];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>


	<!--
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    -->
	<script src="https://sdk.mercadopago.com/js/v2"></script>
	<script src="https://kit.fontawesome.com/98270ba09b.js" crossorigin="anonymous"></script>
	<!-- Main CSS File -->

</head>