<!-- HEADER -->

<header>
	<!-- HEADER TOP -->
	<div class="header-top p-0">
		<!--container-->
		<div class="container-fluid row p-3 mx-0 d-flex justify-content-center text-uppercase">
			<div class="items-anuncios col-6 col-sm-6 col-lg-4">
				<div class="header-left justify-content-center align-items-center">
					<i class="icons-header-top fa-solid fa-truck"></i>
					<p class="top-message text-center"
					   th:text="${header[1].nombre}"></p>
				</div>
			</div>
			<div class="items-anuncios col-6 col-sm-6 col-lg-4 text-center">
				<div class="header-center d-flex justify-content-center align-items-center" >
					<i class="icons-header-top fa-brands fa-whatsapp"></i>
					<!--wsp-nr-->
					<p class="top-message text-center"
					   style="font-size: 12px;">
						<a class="text-whathsapp"
						   href="https://www.youtube.com"
						   target="_blank"
						   th:text="${header[3].nombre}"></a>
					</p>
				</div>
			</div>
			<div class="items-anuncios col-lg-4 header-right justify-content-center">
				<div class="ml-0 w-sm-100 d-flex align-items-center">
					<i class="icons-header-top fa-solid fa-money-check-dollar d-none d-lg-block"></i>
					<p class="top-message text-center d-none d-lg-block"
					   th:text="${header[4].nombre}"></p>
					<!--<div class="header-dropdown dropdown-expanded d-none d-lg-block">
						<p class="top-message text-capitalize"
						   style="font-size: 12px;"
						   th:text="${header[4].nombre}"></p>
					</div>-->
				</div>
			</div>
		</div>
	</div>

	<!-- HEADER MIDDLE -->

	<div class="header-middle sticky-header"
		 data-sticky-options="{'mobile': true}">
		<div class="container justify-content-around justify-content-lg-center" >
		 <div  class="row justify-content-between w-100 m-0">
			<div class="header-left col-7 col-sm-5 col-lg-3 px-0 px-lg-3 justify-content-center"
				 th:each="logos:${logosTienda}">
				<button class="mobile-menu-toggler text-primary" type="button">
					<i class="fas fa-bars"></i>
				</button>
				<a th:href="@{/index/inicio}" class="logo-a">
					<img th:src="@{'/images/' + ${logos.header}}" class="logo-img w-100 alt-100">
				</a>
			</div>

			<div class="col-5 col-sm-7 col-lg-9 row mx-0 p-0 justify-content-end justify-content-sm-center header-right w-lg-max">
				<div class="col-sm-7 col-lg-7 d-none d-sm-block header-search header-search-inline header-search-category w-lg-max text-right mt-0">
<!--
					<a href="demo4.html#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
-->
					<form th:action="@{/index/productoBuscar}" method="post">
						<div class="header-search-wrapper">
							<input type="search" class="form-control" name="buscar" id="q" placeholder="Buscar productos"
								required>
							<button class="btn icon-magnifier p-0" title="search" type="submit"></button>
						</div>
						<!-- End .header-search-wrapper -->
					</form>
				</div>

				<!--<div class="col-lg-3 d-none text-center justify-content-center">
					<span th:if="${session.usuario == null}">
						<p class="d-none d-lg-block">
							<a th:href="@{/login}">INICIAR SESION</a>
						</p>
					</span>
					<span th:unless="${session.usuario == null}" class="nav-item dropdown  d-none d-lg-block">
						<a class="textoUsuario nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span th:text="'Hola, '+ ${session.usuario}" style="color: #000; text-decoration: none;"></span>
						</a>
					</span>
				</div>-->

				<div class="col-11 col-sm-5 col-lg-5 row m-0 p-0 align-items-center justify-content-center justify-content-lg-around">
					<div class="col-lg-3 p-0 d-none d-lg-block">
						<a th:href="@{/index/ofertas}" title="login">
							<div class="d-flex flex-column align-items-center">
								<img class="img-icons" th:src="@{'/images/icons/gift.svg'}" alt="gift-icon">
								<span class="title-header-middle">OFERTAS</span>
							</div>
						</a>
					</div>
					<div class="col-6 col-lg-3 p-0">
						<a th:href="@{/usuario/mi-cuenta}" title="Mi cuenta">
							<div  th:if="${session.usuario == null}"
								  class="d-flex flex-column align-items-center">
								<img class="img-icons" th:src="@{'/images/icons/user.svg'}" alt="user-icon">
								<span class="title-header-middle">CUENTA</span>
							</div>
							<div  th:unless="${session.usuario == null}"
								  class="d-flex flex-column align-items-center">
								<img class="img-icons" th:src="@{'/images/icons/user.svg'}" alt="user-icon">
								<span class="title-header-middle" th:text="${session.usuario}"></span>
							</div>
						</a>
					</div>
					<div class="col-6 col-lg-3 p-0">
						<div class="dropdown cart-dropdown m-0">

							<a th:href="@{/index/carrito}" title="Cart" class="dropdown-toggle cart-toggle justify-content-center" role="button"
							   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-display="static">
								<div class="d-flex flex-column align-items-center h-100">
									<img class="img-icons" th:src="@{'/images/icons/bag.svg'}" alt="bag-icon">
									<!--<i class="minicart-icon" style="margin-bottom: 5px; font-size: 25px;"></i>-->
									<span class="cart-count badge-circle"
										  th:text="${session.carrito.size()}"></span>
									<span class="title-header-middle">CARRITO</span>
								</div>
							</a>


							<div class="cart-overlay"></div>

							<div class="dropdown-menu mobile-cart p-0">
								<a href="demo4.html#" title="Close (Esc)" class="btn-close"></a>

								<div class="dropdownmenu-wrapper custom-scrollbar">
									<div class="dropdown-cart-header">Mi Carrito</div>
									<!-- End .dropdown-cart-header -->

									<div class="dropdown-cart-products">
										<div class="product" th:each="pedidoPro : ${session.carrito}">
											<div class="product-details">
												<p th:text="${pedidoPro.productoCarrito.productoPropiedadDetalleId}"></p>
												<h4 class="product-title">
													<a href="product.html" th:text="${pedidoPro.productoCarrito.nombreProducto}"></a>
												</h4>
												<span class="cart-product-info">

													<!--<span class="cart-product-detail" th:if="${pedidoPro.productoPropiedadDetalle != null}"
														  th:text="${pedidoPro.productoPropiedadDetalle.propiedadesDetalles.detalles.nombre} + ' × '"></span>-->
													<span class="cart-product-qty d-block" th:text="${pedidoPro.productoCarrito.nombrePropiedadDetalle}"></span>
													<span class="cart-product-qty d-block" th:text="${pedidoPro.productoCarrito.nombrePropiedadDetalle2}"></span>
													<span class="cart-product-qty" th:text="${pedidoPro.cantidad}"></span>

													<span class="cart-product-qty" th:if="${pedidoPro.productoCarrito != null}"
														  th:text="' × S/. ' + ${#numbers.formatDecimal(pedidoPro.productoCarrito.precioReducido,3,2,'POINT')}"></span>

													<!--<span class="cart-product-qty"
														  th:unless="${pedidoPro.productoCarrito != null}"
														  th:text="' × S/. ' + ${pedidoPro.productoCarrito.precio}"></span>-->
												</span>
											</div>
											<!-- End .product-details -->

											<figure class="product-image-container">
												<a href="product.html" class="product-image">
													<img th:src="@{'/images/productos/' + ${pedidoPro.productoCarrito.imagenProducto}}" alt="product"
														 width="80" height="80">
												</a>

												<a th:href="@{/index/carrito/eliminarProducto/{id} (id = ${pedidoPro.productoCarrito.productoPropiedadDetalleId})}"
												   class="btn-remove" title="Remove Product"><span>×</span></a>
											</figure>
										</div>
										<!-- End .product -->
									</div>

									<!-- End .cart-product -->

									<div class="dropdown-cart-total"
										 th:if="${session.carrito != null and session.carrito.size() > 0}">
										<span>SUBTOTAL:</span>
										<span class="cart-total-price float-right"
											  th:text="'S/. ' + ${session.totalCarrito}"></span>
									</div>

									<div th:if="${session.carrito == null or session.carrito.size() == 0}"
										 class="carrito-vacio-header">
										<section class="py-5 text-center container">
											<p class="lead text-muted text-center">¡Tu carrito de la compra está vacío!</p>
										</section>
									</div>

									<div class="dropdown-cart-action"
										 th:if="${session.carrito != null and session.carrito.size() != 0}">
										<a th:href="@{/index/carrito}" class="btn btn-dark btn-block">Ver carrito</a>
									</div>

									<!-- End .dropdown-cart-total -->
								</div>
								<!-- End .dropdownmenu-wrapper -->
							</div>
							<!-- End .dropdown-menu -->
						</div>
					</div>
				</div>
			</div>
			<!-- End .header-right -->
			
		 </div>
		</div>
		<!-- End .container -->
	</div>

	<!-- HEADER BOTTOM-->
	<div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
		<div class="container">
			<nav class="main-nav w-100 ">
				<div class="w-100">
					<ul class="menu" style="display: flex; justify-content: space-evenly; align-items: center;">
						<li th:each="menu : ${menusHeader}" class="px-4" style="display: flex;align-items: center; margin-inline-end: 0;">
							<a th:href="@{'/index/'+ ${menu.url}}" th:text="${menu.nombre}"></a>
							<ul class="sub-ul" th:if="${menu.menuSub != null and menu.menuSub.size() > 0}">
								<li th:each="submenu : ${menu.menuSub}">
									<a th:href="@{'/index/' + ${menu.url} + '/' + ${submenu.url}}"
										th:text="${submenu.nombre}" style="color: #545456;"></a>
									<ul th:if="${submenu.productoCate != null and submenu.productoCate.size() > 0}">
										<li th:each="productoCate : ${submenu.productoCate}">
											<a th:href="@{'/index/' + ${menu.url} + '/' + ${submenu.url} + '/' + ${productoCate.url}}"
												th:text="${productoCate.nombre}" style="color: #545456;"></a>
										</li>
									</ul>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</nav>
		</div>
		<!-- End .container -->
	</div>


</header>