<!DOCTYPE html>
<html lang="en">
<!--th:replace="fragments/head"-->
<head>
    <title>Muscle Shop - Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/muscle-shop-isotipo.png}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/notice.css}">
    <link rel="stylesheet" th:href="@{/assets/css/header.css}">
    <link rel="stylesheet" th:href="@{/assets/css/footer.style.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/demo4.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/global.css}">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.demo4.css}">
    <link rel="stylesheet" th:href="@{/assets/css/carousel.style.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/inicio.style.min.css}">
    <script src="https://kit.fontawesome.com/98270ba09b.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #FFFFFF;">
    <div class="page-wrapper">

        <!-- NOTICE -->
        <div th:replace="fragments/notice"></div>

        <!-- HEADER -->
        <header th:replace="fragments/header"></header>

        <!-- MAIN-->
        <main class="main">

            <!--SECCION CARRUSEL-->

            <section id="section-carousel">

                <!--CARRUSEL MOVIL_TABLET -->
                <div id="carouselExampleInterval" class="carousel slide carousel-fade h-100 d-block d-lg-none"
                     data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- Indicador para pantallas móviles y tablets -->
                        <li th:each="bannerMovilTablet, stat : ${bannerMovilTablet}"
                            th:data-slide-to="${stat.index}"
                            th:classappend="${stat.index == 0} ? 'active' : ''"
                            class="d-block d-lg-none"
                            data-target="#carouselExampleInterval">
                        </li>

                        <!-- Indicador para pantallas de laptops y PCs -->
                        <li th:each="bannerLaptopPc, stat : ${bannerLaptopPc}"
                            th:data-slide-to="${stat.index}"
                            th:classappend="${stat.index == 0} ? 'active' : ''"
                            class="d-none d-lg-block"
                            data-target="#carouselExampleInterval">
                        </li>
                    </ol>
                    <div class="carousel-inner h-100">

                        <div th:each="bannerMovilTablet,stat : ${bannerMovilTablet}"
                             th:if="${bannerMovilTablet.tipoDispositivo == 'movil_tablet'}"
                             th:classappend="${stat.index == 0 } ? 'carousel-item h-100 active' : 'carousel-item h-100'"
                             data-interval="5000">

                            <img class="d-block w-100"
                                 th:src="@{'/images/banner/' + ${bannerMovilTablet.tipoDispositivo} + '/' + ${bannerMovilTablet.nombre}}"
                                 th:alt="${bannerMovilTablet.nombre}">
                        </div>

                    </div>

                    <button class="carousel-control-prev d-none" type="button" data-target="#carouselExampleInterval"
                            data-slide="prev">
                        <span class="carousel-control-prev-icon fa-solid fa-circle-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next d-none" type="button" data-target="#carouselExampleInterval"
                            data-slide="next">
                        <span class="carousel-control-next-icon fa-solid fa-circle-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
                <!--CARRUSEL LAPTOP-PC-->
                <div id="carouselExampleIntervalo" class="carousel slide carousel-fade h-100 d-none d-lg-block"
                     data-bs-ride="true">
                    <div class="carousel-indicators">

                        <!-- Indicador para pantallas de laptops y PCs -->
                        <button th:each="bannerLaptopPc, stat : ${bannerLaptopPc}"
                                th:data-bs-slide-to="${stat.index}"
                                th:classappend="${stat.index == 0} ? 'active' : ''"
                                class="d-none d-lg-block"
                                type="button"
                                data-bs-target="#carouselExampleIntervalo">
                        </button>
                    </div>
                    <div class="carousel-inner h-100">
                        <div th:each="bannerLaptopPc,stat : ${bannerLaptopPc}"
                             th:if="${bannerLaptopPc.tipoDispositivo == 'laptop_pc'}"
                             th:classappend="${stat.index == 0 } ? 'carousel-item h-100 active' : 'carousel-item h-100'"
                             data-bs-interval="5000">

                            <img class="d-block w-100"
                                 th:src="@{'/images/banner/' + ${bannerLaptopPc.tipoDispositivo} + '/' + ${bannerLaptopPc.nombre}}"
                                 th:alt="${bannerLaptopPc.nombre}">
                        </div>
                    </div>

                    <!--d-none d-lg-flex-->
                    <button class="carousel-control-prev d-none" type="button" data-target="#carouselExampleIntervalo"
                            data-slide="prev">
                        <span class="carousel-control-prev-icon fa-solid fa-circle-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next d-none" type="button" data-target="#carouselExampleIntervalo"
                            data-slide="next">
                        <span class="carousel-control-next-icon fa-solid fa-circle-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </section>

            <!--SECCION OBJETIVOS-->

            <section class="new-products-section objetivos" id="section-objetivos" style="background-color: #FFF;">
                <div class="container">
                    <h2 class="section-title border-0 text-left">
                        ¿CUÁL ES TU OBJETIVO?
                    </h2>
                    <div class="owl-carousel owl-theme show-nav-hover slide-animate" data-owl-options="{
                        'dots': true,
                        'nav': true,
                        'loop': true,
                        'responsive': {
                            '0': {'items': 1},
                            '768': {'items': 2},
                            '992': {'items': 4}
                            }
                    }">
                        <div class="product-category" data-animation-name="fadeInUpShorter"
                             th:each="subMenu : ${subMenu}">
                            <div class="card m-0">
                                <!--th:style="'background: #f1f1f1 no-repeat center/cover url(' + @{/images/} + ${popup[0].imagen} + ')'"-->
                                <!--<a class="link-objetivos" th:href="@{'/index/objetivo/' + ${subMenu.url}}">


                                </a>-->
                                <!--<div class="child"
                                     th:style="'background-image: url('+@{/images/}+${subMenu.imagen}+')'">
                                    <h5 th:text="${subMenu.nombre}"
                                        class="title">
                                    </h5>
                                </div>-->
                                <a class="link-objetivos" th:href="@{'/index/objetivo/' + ${subMenu.url}}">
                                    <img th:src="@{'/images/' + ${subMenu.imagen}}" class="card-img" alt="...">
                                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                                        <h5 th:text="${subMenu.nombre}"
                                            class="card-title m-0">
                                        </h5>
                                    </div>
                                </a>

                            </div>
                            <!--<a th:href="@{'/index/objetivo/' + ${subMenu.url}}">
                                <figure>
                                    <img th:src="@{'/images/' + ${subMenu.imagen}} " class="img-owl-carousel" alt="category"/>
                                </figure>


                                <div class="category-content">
                                    <h3 th:text="${subMenu.nombre}"></h3>
                                </div>
                            </a>-->
                        </div>
                    </div>

                </div>
            </section>

            <!--SECCION BEST SELLERS-->

            <section id="section-best-sellers" style="background-color: #EFEFEF;">
                <div class="container">
                    <a>
                        <h2 class="section-title border-0 text-left">BEST SELLERS</h2>
                    </a>
                    <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center"
                         data-owl-options="{
                                'dots': true,
                                'nav': true,
                                'loop': true,
                                'responsive': {
                                    '0': {'items': 2},
                                    '768': {'items': 2},
                                    '992': {'items': 4}
                                    }
                            }">

                        <div class="product-default inner-btn inner-icon inner-icon-inline left-details m-0"
                             th:each="productosPorForma:${productosPorForma}">
                            <figure>
                                <a th:href="@{'/index/' + ${productosPorForma.producto.productoCategoria.menuSub.menu.url} + '/'+ ${productosPorForma.producto.productoCategoria.menuSub.url} + '/'  + ${productosPorForma.producto.productoCategoria.url} + '/'+${productosPorForma.producto.url}(detalleNombre=${productosPorForma.productoVariacion1.valor}, detalleModificado=${productosPorForma.productoVariacion2.valor})}">
                                    <!--https://res.cloudinary.com/dhgkb17i4/image/upload/v1724438922/PRUEBA/vtxvu2ld2fb5gmeib28j.png-->
                                    <!--th:src="@{'/images/productos/' + ${productosPorForma.getImagen()}}"-->
                                    <img src="https://res.cloudinary.com/dhgkb17i4/image/upload/v1724438922/PRUEBA/vtxvu2ld2fb5gmeib28j.png" class="img-owl-carousel"
                                         alt="product"/>
                                </a>
                                <div class="btn-icon-group">
                                    <a th:href="@{/index/productoAgregar(id=${productosPorForma.id})}"
                                       class="btn-icon btn-add-cart">
                                        Añadir al carrito
                                    </a>

                                </div>
                            </figure>
                            <div class="product-details">

                                <h3 class="product-title pb-2 text-center">
                                    <a th:href="@{'/index/inicio/' + ${productosPorForma.producto.nombre} + '/' + ${productosPorForma.producto.nombre}}"
                                       th:text="${productosPorForma.producto.nombre}+' '+${productosPorForma.productoVariacion1.valor}+' '+${productosPorForma.productoVariacion2.valor}"></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--SECCION BLOGS-->

            <section id="section-blog">
                <div class="container">
                    <a>
                        <h2 class="section-title border-0 text-left">NUESTROS BLOGS</h2>
                    </a>

                    <div class="row m-0 justify-content-around justify-content-lg-between">
                        <div th:each="articulosBlog : ${articulosBlog}" class="card m-0 col-12 col-md-5 col-lg-3 mb-4 p-0">
                            <img th:src="@{'/images/' + ${articulosBlog.getImagen()}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${articulosBlog.titulo}"></h4>
                                <div class="contenedor-descripcion-blog">
                                    <p class="card-text" th:utext="${articulosBlog.descripcion}"></p>
                                </div>
                                <a th:href="@{'/index/blog/ver-blog/' + ${articulosBlog.id}}" class="card-link"
                                   style="text-decoration: none;">Leer más ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--SECCION REVIEWS-->

           <!-- <section id="section-reviews" style="background-color: #EFEFEF;">
                <div class="container">
                    <h2 class="section-title text-center pb-3" style="color: #000000;">Reviews</h2>

                    <div class="testimonials-carousel owl-carousel owl-theme images-left" data-owl-options="{
                            'margin': 20,
                            'lazyLoad': true,
                            'autoHeight': true,
                            'dots': false,
                            'responsive': {
                                    '0': {
                                        'items': 1
                                    },
                                    '992': {
                                        'items': 1
                                    }
                                }
                            }">
                        <div class="container reviews" th:each="comentariosProductos : ${comentariosProductos}">
                            <div class="row m-0 flex-column-reverse flex-lg-row">
                                <div class="col-lg-6 col-12 p-0  d-flex flex-column justify-content-between align-items-center">
                                    <div class="container-title-reviews">
                                        <h3>EXCELENT 4.5 / 5 ⭐</h3>
                                        <p>Basado en
                                            <a th:text="${#lists.size(comentariosProductos)} + ' comentarios'"
                                               style="cursor: pointer;"></a>
                                        </p>
                                    </div>
                                    <div class="container-comments-reviews">
                                        <div >
                                            <p class="view-all" style="margin-top: 15px;">Show our latest review</p>
                                        </div>
                                        <div class="comments-users" style="background: #FFFFFF; padding: 15px 20px; margin: 15px 0;">
                                            <div class="verified-user d-flex">
                                                <p>⭐⭐⭐⭐⭐ ✅ Verificado</p>
                                            </div>
                                            <div>
                                                <h5 class="datos-user" th:text="${comentariosProductos.pedidoProducto.pedido.usuario.usuarioPerfil.nombres} + ' ' + ${comentariosProductos.pedidoProducto.pedido.usuario.usuarioPerfil.apellidos} + ', hace 5 semanas'"></h5>

                                                <h4 class="principal-comment">Easy delivery</h4>

                                                <p class="second-comment" th:text="${comentariosProductos.comentario}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 image d-lg-block">
                                    <figure>
                                        &lt;!&ndash;th:src="@{'/images/' + ${comentariosProductos.pedidoProducto.producto.imagen}}"&ndash;&gt;
                                        <img src="https://res.cloudinary.com/dhgkb17i4/image/upload/v1724438922/PRUEBA/vtxvu2ld2fb5gmeib28j.png"/>
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>-->

            <!--SECCION MARCAS AFILIADAS-->

            <section id="section-marcas-afiliadas">
                <div class="container">
                    <h4 class="text-center font-italic">Encuéntranos también
                        en</h4>
                    <div class="row m-0 justify-content-center align-items-center">
                        <div th:each="marketplaces: ${marketplaces}" style="margin: 0 10px;" class="col-4 col-lg-2 py-4 d-flex justify-content-center">
                            <a th:href="${marketplaces.getUrl()}" target="_blank">
                                <figure>
                                    <img th:src="@{'/images/marketplace/' + ${marketplaces.getImagen()}}" th:alt="${marketplaces.getNombre()}">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </main>

    </div>

    <!-- FOOTER-->

    <footer th:replace="fragments/footer"></footer>

    	<div class="loading-overlay">
            <div class="bounce-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="mobile-menu-overlay"></div>
        <!-- End .mobil-menu-overlay -->

        <!-- MENU MOBILE -->
        <div th:replace="fragments/menu-mobile"></div>

        <!-- MENU INFERIOR MOBILE-->
        <div th:replace="fragments/menu-inferior-mobile"></div>

    <!-- POPUP -->
    <div th:replace="fragments/popup"></div>


    <a id="scroll-top" href="demo4.html#top" title="Top" role="button"><i class="icon-angle-up"></i></a>
    <div class="button align-items-center d-flex">
        <a class="button-img ms-lg-2 ms-1" href="#" target="_blank"><img th:src="@{/images/whatsapp.png}" alt=""></a>
    </div>

    <!-- Plugins JS File -->

    <!--Para ingresar el correo en los popups-->
    <script data-cfasync="false"
            th:src="@{../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>

    <!--Para toda la web-->
    <script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>

    <!--Para Filtrar y Ordenar una Lista => https://isotope.metafizzy.co/-->
    <script th:src="@{/assets/js/optional/isotope.pkgd.min.js}"></script>

    <!--Para el carrousel objetivos, bestseller owl-carousel-->
    <script th:src="@{/assets/js/plugins.min.js}"></script>
    <script th:src="@{/assets/js/jquery.appear.min.js}"></script>

    <!-- Main JS File -->

    <script th:src="@{/assets/js/main.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/jquery.slim.min.js}"></script>
    <script>
        // Variables globales para los mensajes
        var message1 = document.getElementById('message1');
        var message2 = document.getElementById('message2');

        function alternarMensajes() {
            fadeOut(message1, function () {
                message1.style.display = 'none';
                message2.style.display = 'block';
                fadeIn(message2);
                // Intercambiar los mensajes
                var temp = message1;
                message1 = message2;
                message2 = temp;
                // Guardar el tiempo actual en localStorage
                window.localStorage.setItem('lastMessageChange', new Date().getTime());
                setTimeout(alternarMensajes, 5000);
            });
        }

        function fadeOut(element, callback) {
            var opacity = 1;
            var intervalID = setInterval(function () {
                if (opacity > 0) {
                    opacity -= 0.1;
                    element.style.opacity = opacity;
                } else {
                    clearInterval(intervalID);
                    if (callback) {
                        callback();
                    }
                }
            }, 50);
        }

        function fadeIn(element) {
            var opacity = 0;
            element.style.opacity = opacity;
            element.style.display = 'block';
            var intervalID = setInterval(function () {
                if (opacity < 1) {
                    opacity += 0.1;
                    element.style.opacity = opacity;
                } else {
                    clearInterval(intervalID);
                }
            }, 50);
        }

        // Comprobar si hay un tiempo de cambio de mensaje guardado en localStorage
        if (window.localStorage.getItem('lastMessageChange')) {
            // Calcular el tiempo transcurrido desde el último cambio de mensaje
            var timeSinceLastChange = new Date().getTime() - parseInt(window.localStorage.getItem('lastMessageChange'));
            // Si el tiempo transcurrido es mayor a 5 segundos (5000 ms), actualizar los mensajes
            if (timeSinceLastChange > 5000) {
                alternarMensajes();
            } else {
                // Si no ha pasado el tiempo suficiente, actualizar los mensajes en el tiempo restante
                setTimeout(alternarMensajes, 5000 - timeSinceLastChange);
            }
        } else {
            // Si no hay un tiempo de cambio de mensaje guardado en localStorage, actualizar los mensajes
            alternarMensajes();
        }
    </script>
</body>
</html>